<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<parameter name="browser-type" value="chrome" />
	<parameter name="database-connection-string" value="null" />
	<parameter name="implicit-wait-milliseconds" value="5000" />
	<parameter name="page-load-timeout-milliseconds" value="10000" />
	<test thread-count="1" name="Test">
		<classes>
			<class name="tests.TheInternet" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
