<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test thread-count="1" name="chrome browser test">
		<parameter name="browser-type" value="chrome" />
		<parameter name="database-connection-string" value="null" />
		<parameter name="implicit-wait-milliseconds" value="5000" />
		<parameter name="page-load-timeout-milliseconds"
			value="10000" />
		<classes>
			<class name="tests.TheInternet">
				<methods>
					<include name="canClickCheckBoxes" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="1" name="fire fox browser test">
		<parameter name="browser-type" value="firefox" />
		<parameter name="database-connection-string" value="null" />
		<parameter name="implicit-wait-milliseconds" value="5000" />
		<parameter name="page-load-timeout-milliseconds"
			value="10000" />
		<classes>
			<class name="tests.TheInternet">
				<methods>
					<include name="canClickCheckBoxes" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="1" name="microsoft edge browser test">
		<parameter name="browser-type" value="edge" />
		<parameter name="database-connection-string" value="null" />
		<parameter name="implicit-wait-milliseconds" value="5000" />
		<parameter name="page-load-timeout-milliseconds"
			value="10000" />
		<classes>
			<class name="tests.TheInternet">
				<methods>
					<include name="canClickCheckBoxes" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
